name: Update Icons
on:
  schedule:
    - cron: '0 7 * * *'
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - id: create_token
        uses: actions/create-github-app-token@v2
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: ${{ steps.create_token.outputs.token }}

      - name: Install pnpm
        uses: pnpm/action-setup@v3

      - name: Install Node
        uses: actions/setup-node@v6
        with:
          cache: pnpm

      - name: Install Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: pnpm install

      - name: Download icons
        run: pnpm download

      - name: Build
        run: pnpm package

      - name: Commit
        run: |
          git add .

          git config --local user.email "o7-icon@users.noreply.github.com"
          git config --local user.name "o7-icon[bot]"
          git commit -m "ci: Update icons"
          pnpm version patch

      - name: Publish
        run: |
          npm config set //registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> ~/.npmrc
          pnpm publish
          git push
